---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import { format } from 'date-fns';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('post', ({ id }: CollectionEntry<'post'>) => id.startsWith('weekly/'));
	return posts.map((post: CollectionEntry<'post'>) => ({
		params: { slug: post.id.split('/').slice(1).join('/') },
		props: { post },
	}));
}

const { post } = Astro.props as { post: CollectionEntry<'post'> };
const { Content } = await render(post);
---

<Layout
  title={`${post.data.title} - Paranoid_K's Weekly`}
  description={post.data.description}
>
  <div class="flex flex-col items-center px-2 pt-12 pb-8">
    <h1 class="font-medium text-2xl">{post.data.title}</h1>
    <p class="mt-2 text-gray-500 text-sm font-mono">{format(post.data.date, 'yyyy-MM-dd')}</p>
  </div>
  <article class="px-2 prose max-w-none">
    <Content />
  </article>
</Layout>