---
import '@fontsource/anton';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Social from '@/components/Social.astro';
import List from '@/components/List.astro';
import IconArrowUpRight from '@/assets/icon-arrow-up-right.svg?raw';

import { getCollectionList } from '@/libs/collection';

const weeklies = (await getCollectionList('weekly')).slice(0, 5);
const blogs = (await getCollectionList('blog')).slice(0, 5);
---

<BaseLayout>
  <Fragment slot="head">
    <title>Paranoid_K</title>
    <meta name="description" content="Paranoid_K 的个人站点，关于前端、JavaScript 等" />
  </Fragment>
  <div class="pt-10 pb-6 px-3">
    <h1 class="flex flex-col text-3xl text-black leading-normal tracking-wider font-[Anton]">
      <span>Hello,</span><span>I'm Paranoid_K</span>
    </h1>
    <div class="mt-6 text-gray-900 space-y-1.5">
      <p>🧑‍💻 前端开发者 / Front-end Developer</p>
      <p>🤩 正在做一些有趣的事 / Working on something interesting</p>
      <p>
        🥰
        <a href="https://sotake.com" target="_blank" class="hover:underline">sotake.com</a>
        <span>·</span>
        <a href="https://kee.so" target="_blank" class="hover:underline">kee.so</a>
      </p>
    </div>
    <Social />
  </div>
  <div class="mt-8">
    <div class="flex items-center justify-between px-3">
      <h2 class="font-medium text-xl text-gray-800">周刊</h2>
      <a class="text-gray-400 transition-colors hover:text-gray-600" title="查看全部" href="/weekly">
        <Fragment set:html={IconArrowUpRight} />
      </a>
    </div>
    <List list={weeklies} className="mt-4" />
  </div>
  <div class="mt-8">
    <div class="flex items-center justify-between px-3">
      <h2 class="font-medium text-xl text-gray-800">博客</h2>
      <a class="text-gray-400 transition-colors hover:text-gray-600" title="查看全部" href="/blog">
        <Fragment set:html={IconArrowUpRight} />
      </a>
    </div>
    <List list={blogs} className="mt-4" />
  </div>
</BaseLayout>
