---
import '@/styles/global.css';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <slot name="head" />
    <link rel="author" href="https://pengtikui.cn" />
    <meta name="author" content="Paranoid_K" />
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiJ-Ek-_EeA.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://fonts.gstatic.com/l/font?kit=1Ptgg87LROyAm0Kx8iggSpN-JdeyjRJZsf_uetFWSVozrrw&skey=3e16a04254d4c9b3&v=v25"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body class="max-w-3xl mx-auto px-2">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
