html,
body {
  @apply dark:bg-gray-900;
}

#__next {
  @apply max-w-3xl mx-auto px-4;
}

/* TailwindCSS */
.prose code::before,
.prose code::after,
.prose blockquote p:first-of-type::before,
.prose blockquote p:first-of-type::after {
  display: none;
}

.nav-item {
  @apply transition-shadow duration-150;
  box-shadow: inset 0 -0.15em 0 theme('colors.yellow.400');
}
.nav-item:hover {
  box-shadow: inset 0 -0.85em 0 theme('colors.yellow.400');
}

.post-link {
  @apply transition-shadow duration-150;
  box-shadow: inset 0 -0.1em 0 theme('colors.yellow.400');
}
.post-link:hover {
  box-shadow: inset 0 -0.8em 0 theme('colors.yellow.400');
}

.author-header > div:first-child {
  @apply rounded-full shadow;
}

pre[class*='language-'],
code[class*='language-'] {
  font-size: 14px !important;
}
